html, *, body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    /* background-color: yellow; */
}

.f {
    margin: 20px auto;
    font-size: 3rem;
    /*background-color: yellow;
    */text-align: center;
    animation-name: rolling;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes rolling {
    0% {color: yellow;}
    25% {color: aquamarine;}
    50% {color: red;}
    75% {color: blue;}
    100% {color: greenyellow;}
}

.container {
    height: 80vh;
    /* background-color: lightblue; */
    position: relative;
    margin-bottom: 30px;
}

.container .txt {
    float: left;
    width: 50vw;
    height: 70vh;
    margin: 1em;
    box-sizing: border-box;
    display: flex;
    /* background-color: yellow; */
}

.txt .txt2 {
    margin: auto;
}

/* .overflow {
    width: 40vw;
    height: 60vh;
    overflow-y: hidden;
    overflow-x: scroll;
}

.overflow img {
    width: 50vw;
} */

.container .img {
    float: right;
    width: 40vw;
    height: 40vh;
    /* margin: 5px; */
    box-sizing: border-box;
    display: flex;
    /* background-color: yellow; */
}

/* .container .img img {
    width: 30vw;
    height: 30vh;
} */

.container .img .fixed {
    background-color: white;
    margin: auto;
    width: 100vw;
    height: 80vh;
    background-image: url(SUN.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 100%;
    /* background-position: center bottom; */
}

.kosong {
    width: 90vw;
    margin: 2rem auto;
    text-align: center;
}

.kosong h1 {
    font-size: 2rem;
    /* background-color: yellow; */
}

.kosong p {
    font-size: 1rem;
    margin-bottom: 5px;
}

.new {
    height: 60vh;
    display: flex;
}

.left {
    flex: 1;
    background-image: url(WPP.jpg);
    background-attachment: fixed;
    background-position: 50% 50%;
    /* background-repeat: no-repeat; */
    /* background-position: center right; */
    background-color: yellow;
}

.mid {
    flex: 2;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.mid h1,
.mid p {
    margin: 0 1em;
}

.right {
    flex: 1;
    background-image: url(WPP.jpg);
    background-attachment: fixed;
    background-position: 60% 50%;
    /* background-position: center left; */
    /* background-repeat: no-repeat; */
    background-color: yellow;
}

.archive {
    width: 95vw;
    height: auto;
    margin: 5em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.archive div {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 2em;
    text-align: center;
}

.archive div:hover {
    transform: scale(1.5, 1.5);
    -webkit-transform: scale(1.5, 1.5);
    -moz-transform: scale(1.5, 1.5);
    -ms-transform: scale(1.5, 1.5);
    -o-transform: scale(1.5, 1.5);
    transition: linear 2s;
    -webkit-transition: linear 2s;
    -moz-transition: linear 2s;
    -ms-transition: linear 2s;
    -o-transition: linear 2s;
}

.archive img {
    width: 100px;
    height: 100px;
}

.archive h1 {
    font-size: 1rem;
}

.cover {
    height: 80vh;
    background-image: url(WEB.jpg);
    background-position: 50% 50%;
    display: flex;
    /* text-align: center; */
}

/* @keyframes rotate {
    0% {rotate: 0;}
    100% {rotate: 360deg;}
} */

.make {
    margin: auto;
    width: 100vw;
    height: 70vh;
    background-image: url(just\ random.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

/* .make h1 {
    margin: auto;
    font-size: 4rem;
    font-weight: bold;
} */

.cover h1 {
    margin: auto;
    text-align: center;
    font-size: 8vmin;
    /* color: rgb(255, 0, 242); */
    color: white;
}

.sync {
    margin: 6em 0;
    display: flex;
    height: 60vh;
    box-sizing: border-box;
    /* background-color: yellow; */
}

.sync .tulis {
    flex: 3;
    margin: auto;
    padding: 1.5em;
}

.sync .gambar {
    background-image: url(Space.jpg);
    background-position: center;
    height: 60vh;
    position: relative;
    flex: 4;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.sync .gambar img {
    height: 40vmin;
    padding-right: 2em;
    position: absolute;
    animation-name: terbang;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes terbang {
    0% {bottom: 0;}
    50% {bottom: 800px;}
    100% {bottom: 0;}
}

.planet {
    /* height: 60vh; */
    text-align: center;
    margin: 4em;
}

.planet img {
    width: 70vmin;
    /* height: 60vh; */
    animation-name: muter;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes muter {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

.space {
    height: 100vh;
    background-attachment: fixed;
    /* background-position: center; */
    background-position: 50% 55%;
    /* position: relative; */
    animation-name: change;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes change {
    0% {background-image: url(AF.jpg);}
    25% {background-image: url(AG.jpg);}
    50% {background-image: url(AT.jpg);}
    75% {background-image: url(AG.jpg);}
    100% {background-image: url(AF.jpg);}
}

.swipe {
    height: 60vh;
    display: flex;
}

.astro {
    position: relative;
    height: 60vh;
    flex: 3;
    margin: auto;
    background-image: linear-gradient(to right, rgba(4, 0, 255, 0.473), rgba(255, 255, 255, 0));
}

.tlsn {
    flex: 2;
    margin: auto;
    box-sizing: border-box;
    padding: 1em;
}

.swipe .astro img {
    position: absolute;
    width: 50vmin;
    margin: 2em;
    animation-name: move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.tired {
    height: 60vh;
    display: flex;
}

.word {
    flex: 2;
    margin: auto;
    box-sizing: border-box;
    padding: 1em;
}

.drg {
    height: 60vh;
    flex: 3;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to left, rgba(238, 255, 0, 0.473), rgba(255, 255, 255, 0));
}

.drg img {
    position: absolute;
    width: 50vmin;
    margin: 2em;
    animation-name: geser;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes geser {
    0% {left: 0;}
    50% {left: 800px;}
    100% {left: 0;}
}

.elite {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    position: relative;
}

.elite h1 {
    margin: auto;
    font-size: 15vmin;
}

.someone {
    /* background-color: white; */
    margin: auto;
    width: 20vw;
    position: absolute;
}

.someone img {
    /* text-align: center; */
    width: 40vmin;
}

.hidden {
    /* width: 95vw; */
    background-color: yellow;
    height: 100vh;
    margin: auto;
}

.scroll {
    width: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.scroll img {
    height: 100vh;
}

@media screen and (max-width: 600px) {

}